#principal{
	width: 817px;
	height: 250%;  overflow: hidden;
	border: 0px rgb(255, 17, 49) rgb(8, 107, 114);
	margin: auto;
	color: rgb(47, 192, 236);


}

.header {

	width: 830px;
	height: 250%; overflow: hidden;
	margin: auto;
	background-color: rgba(81, 88, 88, 0.87);filter:alpha(opacity=600); opacity:0.8;
	color: rgb(54, 215, 243);
}



.titulo{
	margin-top: 30px;
	font-size: 30px;
}


.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}
.texto{
    position: absolute;
	font-size: 10mm;
	top: -20px;
	left: 20px;
	color: #0cee09;
}

.logo{
		position: absolute;
		top: 8px;
		right: 10px;
		width: 9%;
		
		
}

.centrado{
    position: absolute;
	transform: translate(0%, -45%);
}

.menu{

	width: 817px;
	height: 60px;
	border: 1px solid rgba(10, 134, 6, 0.781);
	margin-top: 50px;
	background-color: rgba(240, 14, 14, 0.87);filter:alpha(opacity=600); opacity:0.8;
}
.menu ul li a{
	text-decoration: none;
	padding: 10px 15px;
	font-size: 7mm;
	border: 0px solid #ccc;
	color: #fff; 
	
}

.menu ul li{
	list-style: none;
	fill-opacity: initial;
	float: left;
}

.menu ul li a:hover{
	background: rgb(255, 255, 255);
	color: #0f0f0f;
}


#slide{
	margin-top: -5px;
	width: 900px;
	height: 250px;
}

.inicio{

	background: rgb(148, 1, 13);
	color: #dfdfdf;	
	
}
.mdes ul li{
	text-shadow: 30px;
	font-size: 23px;
	width: 50%;
	padding: 35px;
	background-color: #0f0f0f;filter:alpha(opacity=600); opacity:0.8; 
	
	
	}
		  
.section {		
	display: flex;
	float: left;
			  }
		  
	